.slick-prev:before {
    color: red;
    font-size: 30px;
    display: none;
  }
  
  .slick-next:before {
    color: red;
    font-size: 30px;
    display: none;
  }
  .slick-dots{
    bottom: 10px !important;
  }
  .slick-dots li.slick-active button:before{
    font-size: 16px;
  }